<div class="jarviswidget" id="wid-id-8" data-widget-editbutton="false" data-widget-custombutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-pencil-square"></i> </span>
    <h2>Edit Inventory</h2>
  </header>

  <div>
    <div class="jarviswidget-editbox"></div>
    <div class="widget-body no-padding">

      <form action="/inventories/<%= @inventory.id %>" method="POST" id="smart-wwform-register" class="smart-form client-form">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="user[store_name]" value= <%= current_store.organization %> type="hidden">
        <input name="inventories[organization_id]" value= <%= current_store.id %> type="hidden">
        <input type= "hidden" name="_method" value="patch">
        
        <fieldset>
          <div class="row">
            <section class="col col-6">
              <label class="label">Product Name</label>
              <label class="input">
                <i class="icon-append fa fa-list-ol"></i>
                  <input type="product_name" name="inventories[product_name]" value="<%= @inventory.product_name %>" autocomplete="off"  >
              </label>
            </section>
            <section class="col col-6">
              <label class="label">Quantity</label>
              <label class="input">
                <i class="icon-append fa fa-list-ol"></i>
                  <input type="number" name="inventories[quantity]" value="<%= @inventory.quantity%>" autocomplete="off"  >
              </label>
            </section>
          </div>

          <div class="row">
            <section class="col col-6">
              <label class="input">
                <p>Buy Price</p>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                  <input type="text" name="inventories[buy_price]" value="<%= number_with_precision(@inventory.buy_price, precision: 2) %>">
                </div>
              </label>
            </section>
            <section class="col col-6">
              <label class="input">
                <p>Retail Price</p>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                  <input type="text" name="inventories[retail_price]" value="<%= number_with_precision(@inventory.retail_price, precision: 2 ) %>">
                </div>
              </label>
            </section>
          </div>

          <section>
            <label class="label">SKU#</label>
            <label class="input">
              <i class="icon-append fa fa-list-ol"></i>
                <input type="number" name="inventories[sku]" value="<%= @inventory.sku%>" autocomplete="off"  >
            </label>
          </section>
          <section>
            <label class="label">Product Type</label>
            <label class="input">
              <i class="icon-append fa fa-tag"></i>
              <input type="text" name="inventories[product_type]" value="<%= @inventory.product_type%>" autocomplete="off">
            </label>
            </label>
          </section>
          <section>
            <label class="label">Supplier</label>
              <select name="inventories[company_id]" id="company_select" >
                <option value="<%= @inventory.supplier%>"><%=@inventory.supplier%>  </option>
                  <% (0...@company.length).each do |i|%>
                    <option value="<%=@company[i].id %>"><%=@company[i].name %></option>
                  <% end %>
              </select>
            </label>
          </section>
          <section>
            <label class="label">Brand</label>
            <label class="input">
              <i class="icon-append fa fa-tag"></i>
              <input type="text" name="inventories[brand]" value="<%= @inventory.brand%>" autocomplete="off"  >
            </label>
            </label>
          </section>
          <section>
            <label class="label">Product Description</label>
            <label class="textarea">
              <i class="icon-append fa fa-comment"></i>
              <textarea rows="4"  name="inventories[product_description]"  > <%= @inventory.product_description%> </textarea> 
            </label>
          </section>
        </fieldset>

        <footer>
          <%= link_to "Delete", inventory_path(@inventory.id.to_i),data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-primary", id:"delete"%>
          <button type="submit" class="btn btn-primary"> Edit </button>
        </footer>
      </form>
    </div>
  </div>
</div>

