<div class="well no-padding">
  <form action="/relationships/<%= @company.id %>" method="POST" id="smart-wwform-register" class="smart-form client-form">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input name="companies[organization_id]" value= <%= current_store.id %> type="hidden">
     <input type= "hidden" name="_method" value="patch">

    <header> Edit company </header>
    
    <fieldset>
 <section>
        <label class="select">
                <select name="companies[role]">
                  <option value="<%= @company.role %>" selected="<%= @company.role %>" ><%= @company.role %></option>
                  <option value="supplier">Supplier</option>
                  <option value="customer">Customer</option>
                </select> <i></i> 
        </label>
            </section>


      <section>
        <label class="input">
          <p>Company Name</p>
          <input type="text" name="companies[name]" value="<%= @company.name %>"  autocomplete="off">
          <b class="tooltip tooltip-bottom-right">Comapny Name</b>
        </label>
      </section>
      <section>
        <label class="input">
          <p>Company Address</p>
          <input type="text" name="companies[address]" value="<%= @company.address %>" autocomplete="off">
          <b class="tooltip tooltip-bottom-right">Address</b>
        </label>
      </section>
      <section>
        <label class="input">
          <p>Company Website</p>
          <input type="text" name="companies[website]" value="<%= @company.website %>" autocomplete="off">
          <b class="tooltip tooltip-bottom-right">Website</b>
        </label>
      </section>
      <section>
        <label class="input">
          <p>Compnay Email</p>
          <input type="email" name="companies[email]" value="<%= @company.email %>" autocomplete="off">
          <b class="tooltip tooltip-bottom-right">Email</b>
        </label>
      </section>
      <section>
        <label class="input">
          <p>Compnay Telephone Number</p>
          <input type="tel" name="companies[phone]" value="<%= @company.phone %>" autocomplete="off">
          <b class="tooltip tooltip-bottom-right">Phone</b>
        </label>
      </section>
      <section>
        <label class="textarea">
          <p>Company Description</p>
          <textarea rows="5"  name="companies[description]" value="<%= @company.description %>"  ></textarea> 
          <b class="tooltip tooltip-bottom-right">Description</b>
        </label>
      </section>
    </fieldset>
    
    <footer>
      <%= link_to "Delete", relationship_path(@company.id.to_i),data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-primary",id: "delete"  %>
      <button type="submit" class="btn btn-primary">
        Edit
      </button>
    </footer>
  </form>
</div>



