
<div class="widget-body">
  <div class="alert alert-info no-margin fade in">
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% (0...@users.length).each do |i| %> 
          <tr>
            <td><%=@users[i].employee_id%></td>
            <td><%=@users[i].first_name%></td>
            <td><%=@users[i].last_name%></td>
            <td><%=@users[i].position%></td>
            <td>
              <% @profile=@users[i].id %>
              <%= link_to "Info", user_path(@profile), id: "setSelect", class: "btn btn-default btn-sm" %>
              <%= link_to "Update", edit_user_path(@users[i].id), id: "setSelect", class: "btn btn-default btn-sm" %>
              <%= link_to 'Delete', user_path(@users[i].id),data: {:confirm => 'Are you sure?'}, :method => :delete, id: "setSelect", class: "btn btn-default btn-sm"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

