<% content_for :ribbon do %>
  <div id="ribbon">
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

    <ol class="breadcrumb">
      <li>Home</li>
      <li>Store</li>
      <li>User Info</li>
    </ol>
  </div>
<% end %>

<div class="well no-padding">
  <form action="/users" method="POST" id="smart-form-register" class="smart-form client-form">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <header>User Info</header>
    <fieldset>
      <section>
        <label class="input">
          <i class="icon-prepend fa fa-user"></i>
          <input type="id" name="user[employee_id]" value="<%= @user.employee_id%>" id="employee_id"readonly>
        </label>
      </section>
    </fieldset>
    <fieldset>
      <div class="row">
        <section class="col col-6">
          <label class="input">
            <i class="icon-prepend fa fa-user"></i>
            <input type="text" name="user[first_name]" value= "<%= @user.first_name%>" readonly>
          </label>
        </section>
        <section class="col col-6">
          <label class="input">
            <i class="icon-prepend fa fa-user"></i>
            <input type="text" name="user[last_name]" value= "<%= @user.last_name %>" readonly>
          </label>
        </section>
      <section class="col col-6">
        <label class="input">
          <i class="icon-prepend fa fa-phone"></i>
          <input type="text" name="user[phone]" value= "<%= @user.phone %>" id="phone_number" readonly>
        </label>
        </section>
      <section class="col col-6">
          <label class="input">
            <input type="text" name="user[position]" value="<%= @user.position %>" id="position" readonly>
        </label>
        </section>
        </div>
      <section>
        <label class="input">
          <input type="text" name="user[address]" value="<%= @user.address %>" id="street_name" readonly>
        </label>
      </section>
      <div class="row">
        <section class="col col-6">
          <label class="input">
            <input type="text" name="user[city]" value="<%= @user.city %>" readonly>
          </label>
        </section>
        <section class="col col-6">
          <label class="input">
            <input type="text" name="user[state]" value="<%= @user.state %>" readonly>
          </label>
        </section>

      </div>
      <section>
        <label class="input">
          <input type="text" name="user[zip_code]" value="<%= @user.zip_code%>" readonly>
        </label>
      </section>  
    </fieldset>             

    <footer>
        <%= link_to "Delete", user_path(@user.id),data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-primary"%>
        <%= link_to "Edit", edit_user_path(@user.id), class: "btn btn-primary" %>
    </footer>
  </form>
</div>

