<!DOCTYPE html>
<html lang="en-us" id="<% yield :html_id %>">
<head>
  <meta charset="utf-8">

  <title>Inventory</title>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- #CSS Links -->
  <!-- Basic Styles-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js""></script>
<!--
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/smartadmin-rtl.min.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/demo.min.css">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    <link rel="shortcut icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <link rel="apple-touch-icon" href="~/content/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/img/splash/touch-icon-ipad-retina.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
-->
   <!-- < % javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  < % csrf_meta_tags %>
-->

  <%= stylesheet_link_tag 'application', media: 'screen' %>

  <!-- FAVICONS -->
  <%= favicon_link_tag 'favicon/favicon.ico' %>
  <%= favicon_link_tag 'favicon/favicon.ico', rel: 'icon' %>

  <!-- GOOGLE FONT -->
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' %>

  <!-- Specifying a Webpage Icon for Web Clip
     Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
  <%= favicon_link_tag 'splash/sptouch-icon-iphone.png', type: 'image/png', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'splash/touch-icon-ipad.png', type: 'image/png', sizes: '76x76', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'splash/touch-icon-iphone-retina.png', type: 'image/png', sizes: '120x120', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'splash/touch-icon-ipad-retina.png', type: 'image/png', sizes: '152x152', rel: 'apple-touch-icon' %>

  <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Startup image for web apps -->
  <%= favicon_link_tag 'splash/ipad-landscape.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)' %>
  <%= favicon_link_tag 'splash/ipad-portrait.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)' %>
  <%= favicon_link_tag 'splash/iphone.png', type: 'image/png', rel: 'apple-touch-startup-image', media: 'screen and (max-device-width: 320px)' %>

  <%= yield :head %>
</head>

<body class="<%= yield :body_class %>">
  <%= render partial: "layouts/header" %>
  <%= render partial: "layouts/left_panel" %>
  <div id="main" role="main">
    <%= yield :ribbon %>
    <%= yield %>
  </div>
  <%= render partial: "layouts/footer" %>
  <%= render partial: "layouts/tiles" %>

<%= javascript_include_tag 'plugin/pace/pace', 'data-pace-options' => '{ "restartOnRequestAfter": true }' %>

<%= javascript_include_tag 'application' %>


<!--

    <script src="/assets/js/app.config.js"></script>
    <script src="/assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/notification/SmartNotification.min.js"></script>
    <script src="/assets/js/smartwidgets/jarvis.widget.min.js"></script>
    <script src="/assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="/assets/js/plugin/sparkline/jquery.sparkline.min.js"></script>
    <script src="/assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>
    <script src="/assets/js/plugin/select2/select2.min.js"></script>
    <script src="/assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="/assets/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <script src="/assets/js/plugin/fastclick/fastclick.min.js"></script>
    <script src="/assets/js/demo.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/speech/voicecommand.min.js"></script>
    <script src="/assets/js/smart-chat-ui/smart.chat.ui.min.js"></script>
    <script src="/assets/js/smart-chat-ui/smart.chat.manager.min.js"></script>
    <script src="/assets/js/plugin/moment/moment.min.js"></script>
    <script src="/assets/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>
    
    -->

    <script type="text/javascript"></script>

<%= yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts') %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>

